@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "tailwindcss";

@layer base {
  :root {
    font-family: "Andika", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  h1 {
    @apply text-4xl text-violet-800 font-semibold text-center my-4;
  }

  h2 {
    @apply text-2xl font-semibold mt-4 mb-2 text-violet-800;
  }
  /* h1, h2 ir taip toliau */
}
